body{
  font-family: helvetica;
  text-align: center;
}
.header{
  background-image: url("./images/flatiron.png");
  color: white;
}
.header p{
  font-size: 18px;
}
h1{
  font-size: 70px;
  font-weight: bold;
}
h2{
  font-size: 32px;
  font-weight: bold;
}
p{
  font-size: 14px;
}
h3{
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("./images/flatiron.png");
}
.label{
  font-size: 23px;
  font-weight: bold;
}
